<div class="container">
  <div class="introduction">
  <h1>
    <span id="greeting-typed-text"></span>
  </h1>
  <div class="intro d-flex font-weight-normal">
    <%= image_tag "profile.jpg", class: 'avatar-large center-block avatar-home' %>
    <p>Thank you so much for passing by! I am Guillem Delás, a Junio Full-Stack Web Developer based in Barcelona.</p>
    <div class="links">
      <div class="github d-flex align-items-center">
        <%= link_to '<i class="fab fa-github"></i>'.html_safe, 'https://github.com/guillemdlopez', class: 'ml-2', id: 'social-link', target: :_blank, style: 'font-size: 24px;'  %>
      </div>
      <div class="twitter"></div>
      <div class="linkedin d-flex align-items-center">

        <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/guillemdelas/', class: 'ml-2', id: 'social-link', target: :_blank, style: 'font-size: 24px;'  %>
      </div>
    </div>
  </div>
  </div>
</div>
