.card-sugerencias {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-info:last-child {
  opacity: 0.7;
}

.info-post {
  display: flex;
  align-items: center;
  height: 58px;
}

.user-info {
  flex-grow: 1;
}

.user {
  font-size: 14px;
}

/* POST CARD */

.post-card {
  margin-bottom: 60px;
}

.img-post {
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
}
.icons-left {
  flex-grow: 1;
}

.post-card-comments p, a {
  font-size: 14px;
}

#publication-date {
  opacity: 0.6;
  font-size: 14px;
  margin-top: 5px;
}

.post-card-comment-form input {
  border: transparent;
}

.post-card-comment-form {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.comment-body {
  flex-grow: 1;
}

.user-comment p:first-child {
  font-weight: bold;
}

.comment-content {
  flex-grow: 1;
}

a:hover {
  text-decoration: none;
  color: black;
}

.link-more-comments {
  color: grey;
  &:hover {
    color: grey;
    text-decoration: underline;
  }
}

#following-sign {
  background: lightgrey;
  padding: 4px 6px;
  border-radius: 4px;
  color: white;
  font-size: 12px;

  &:hover {
    background: grey;
  }
}

#username-post:hover {
  text-decoration: underline;
}
